<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.titub.morze" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Получение разрешения на прослушивание состояния телефона -->
    <!-- <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" /> -->
    <!-- Получение разрешения на получение исходящих вызовов -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />   <!-- Получение разрешения на чтение контактов -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- Получение разрешения на сообщение об окончании загрузки устройства -->

    <!-- Получение разрешения на чтение списка контактов -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".CallDetectService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:enabled="true" android:name=".AutoStartReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
